@import '~antd/dist/antd.css';

.App {
  width: 1400px;
  max-width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.App-title {
  text-align: center;
  margin-bottom: 20px;
}

.App-loadMoreRow {
  padding: 20px;
  text-align: center;
}
