@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

.LoadingSpinner {
  text-align: center;
  margin: 20px 0;
}
.LoadingSpinner-inner {
  display: inline-block;
  font-size: 30px;
  animation: spin .7s infinite linear;
}
